
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Great Vibes', cursive;
  size: 150%;
  color: #e6f2ff; /* almost white **/
  background-color: #004d99; /* dark blue */
  padding: 5px;
  padding-bottom: 0px; /* compensate for Great Vibes positioning */
}

h2 {
  background-color: #cce6ff; /* light blue */
  padding: 4px;
}
