
body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

h1 {
  font-family: 'Great Vibes', cursive;
  /* typically set the h1 to 2em but because Great Vibes is unusually small, make it more */
  font-size: 4em;
  
  color: #e6f2ff; /* almost white **/
  background-color: #004d99; /* dark blue */
  
  padding: 5px;
  padding-left: 16px;
  padding-bottom: 0px; /* compensate for Great Vibes positioning */
  
  text-align: center;
}

h2 {
  font-size: 1.625em;
  background-color: #cce6ff; /* light blue */
  padding: 4px;
  padding-left: 16px;
}
