
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Great Vibes', cursive;
  size: 150%;
  background-color: #99ddff; /* light blue */
  padding: 5px;
  padding-bottom: 0px; /* compensate for Great Vibes positioning */
}

h2 {
  background-color: #cceeff; /* even lighter blue */
  padding: 4px;
}
